{% extends selected_module == 'Admin' ? 'admin-layout.twig' : 'layout.twig' %}

{% block title %}Error 500: Internal Server Error {% if selected_module == 'Admin' %} - {{ site_title|default('Thomas Admin') }}{% endif %}{% endblock %}

{% block header %}
    {% if selected_module == 'Admin' %}
    <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href=history.back()">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <span class="mdl-layout-title">Error 500</span>
    </div>
    {% else %}
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"><span class="thomas">Thomas von Fürstenfeld</span> - Internal Server Error</span>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if selected_module == 'Admin' %}
    <div class="mdl-grid">
        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <h3 class="page-header">Internal Server Error!</h3>
            <div class="dump">
                <pre>{{ exception }}</pre>
            </div>
        </div>
    </div>
    {% else %}
        <div class="mdl-grid-x">
            <section>
                <article>
                    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
                        <header>
                            <h1 class="page-header">Internal server error</h1>
                        </header>
                        {{ dump(exception) }}
                    </div>
                </article>
            </section>
        </div>
    {% endif %}
{% endblock %}
