{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
{% extends "admin/applications/index.twig" %}

{% block title %}{{ 'Add new application - ' ~ site_title|default('Thomas Admin') }}{% endblock %}

{% set location = '' %}
{% if application_base_uri != '/' %}
    {% set location = application_base_uri ~ '/' %}
{% endif %}
{% set location = location ~ 'applications' %}

{% block header %}
    <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href='{{ location }}'">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <span class="mdl-layout-title">Add application</span>
    </div>
{% endblock %}

{% block content %}
    <div class="mdl-grid applications applications-add">
        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            {% set formOptions = {'templates': {'id_application_is_enabled': 'inputSwitchElement'}} %}
            {{ _FORM.renderform(form, formOptions) }}
        </div>
    </div>
{% endblock %}
