{% extends "admin/applications/index.twig" %}

{% block title %}{{ '"' ~ application.getTitle() ~ '" preferences - ' ~ site_title|default('Thomas Admin') }}{% endblock %}

{% set location = '' %}
{%  if application.baseUri != '/' %}
    {% set location =  application.baseUri ~ '/' %}
{% endif %}
{% set location = location ~ 'applications/' ~ application.getName() %}

{% block header %}
    <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href='{{ location }}'">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <span class="mdl-layout-title">Edit application</span>
    </div>
{% endblock %}

{% block content %}
    <div class="mdl-grid applications applications-preferences">
        <div class="mdl-cell mdl-cell--12-col">
            <p>Ahhhm... not yet...</p>
        </div>
    </div>
{% endblock %}
