<dialog class="mdl-dialog" id="progressDialog" data-session="{{ progressId|default('none') }}">
    <h4 id="progress-title" class="mdl-dialog__title">Loading...</h4>
    <div class="mdl-dialog__content">
        <div id="progress-bar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <p id="progress-counter"></p>
    </div>
</dialog>
