{% extends "layout.twig" %}
{% import '@WebHemi/macros/renderForm.twig' as _FORM %}

{% block menu_main %}<a class="mdl-navigation__link--current" href=""><i class="material-icons" role="presentation">home</i>Main page</a>{% endblock %}

{% block content %}
<div class="mdl-grid-y">
    <section class="wall">
        <article>
            <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
                <h1>Welcome!</h1>
                <a href="posts">Post list</a>
                <hr>
                {% set options = {'addSelectAll': true, 'templates': {'id_test_accept': 'inputSwitchElement'}} %}
                {{ _FORM.renderForm(form, options) }}
                <hr>
                POST DATA: {{ dump(data) }}
            </div>
        </article>
        {% include "website/article.twig" with {'index': 1} %}
        {% include "website/article.twig" with {'index': 2} %}
        {% include "website/article.twig" with {'index': 3} %}
        {% include "website/article.twig" with {'index': 4} %}
    </section>
</div>
{% endblock %}
