{% extends "website/index.twig" %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von Fürstenfeld</a> - {{ title }}</h1>
    </div>
{% endblock %}

{% block menu_main %}<a class="home" href="">{{ 'News Feed'|t }}</a>{% endblock %}
